[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length = 400


[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[*.csv]
indent_style=tab
tab_width=1

[{jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[{*.jscs.json,*.jscsrc}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[{*.coffee,*.cjsx}]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

