# Created by .ignore support plugin (hsz.mobi)
.idea/
env_hotels/
henv/
venv/
*.pyc
app/apis/logs/
app/logs/
*.log.*
*.log
*.lock
*.pytest_cache*
nohup.out
apidoc/
node_modules/
hotelApi/
my_patch_frame_config0000.py
my_patch_frame_config_beifen.py
test_frame/my_patch_frame_config.py
function_result_web0000/
test_frame/my/
redis_queue_web/
test_frame/test_broker_rabbitmq/distributed_frame_config.py
dist/
*.egg-info/
not_up_git/
distributed_frame_config.py
auto_run_on_remote_config.py
/build/
/test_frame/test_xiaoxianrou/pictures/
/.vscode/
funboost_config.py
/test_frame/my/
test_frame/test_fabric_deploy/test_deploy2.py
test_frame/test_fabric_deploy/test_deploy_mima2.py
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
nb_log_config.py