# Created by .ignore support plugin (hsz.mobi)
.idea/
env_hotels/
henv/
venv/
*.pyc
app/apis/logs/
app/logs/
*.log.*
*.log
*.lock
*.pytest_cache*
nohup.out
apidoc/
node_modules/
hotelApi/
my_patch_frame_config0000.py
my_patch_frame_config_beifen.py
test_frame/my_patch_frame_config.py
function_result_web/
test_frame/my/
redis_queue_web/