eventlet==0.25.0
gevent==1.4.0
pymongo==3.5.1
AMQPStorm==2.7.1
pika==0.12.0
rabbitpy==2.0.1
gnsq==1.0.1
kafka-python==1.4.6
mongo-mq==0.0.1
persist-queue==0.4.2
redis
decorator==4.4.0
pysnooper==0.0.11
tomorrow3==1.1.0
concurrent-log-handler==0.9.9
elasticsearch
requests
psutil
Flask
flask_bootstrap
flask_wtf
wtforms
flask_login
sqlalchemy
sqlalchemy_utils==0.36.1
apscheduler
PyWin32    # windows need because of concurrent-log-handler
# pip install -r requirements.text -i http://mirrors.aliyun.com/pypi/simple/
pikav0
pikav1